<h1>Offers status</h1>
<p><%= link_to 'Add offer', new_customer_offer_path(current_customer) %></p>

<% if current_customer.offers.length < 1 %>
  <p>(No offer created yet!)</p>
<% else %>
  <h2>All offers:</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Target Date</th>
        <th scope="col">Proposals</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% current_customer.offers.each_with_index do |offer, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= offer.title %></td>
          <td><%= offer.target_date %></td>
          <td><%= offer.proposals.count %></td>
          <td>
            <%= link_to 'show', customer_offer_path(current_customer, offer), class: 'btn btn-primary'  %>
            <%= link_to 'remove', offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
 
<% end %>
