<div class="container">
  <h1>Customer Dashboard</h1>

  <div class="card-product">
    <% if current_customer.avatar.attached? %>
      <%= cl_image_tag current_customer.avatar.key, crop: :fill %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> 
    <% end %>
    <div class="card-product-infos">
      <h2><%= current_customer.name %></h2>
      <br>
      <p>Email:<%= current_customer.email %></p>
      <p>Phone: <%= current_customer.phone %></p>
    </div>
  </div>
  <p class="text-right" >
      <%= link_to 'Edit', edit_customer_registration_path(current_customer), class: 'btn btn-secondary btn-sm'  %>
      <%= link_to 'Logout', destroy_customer_session_path, method: :delete, class: 'btn btn-secondary btn-sm'  %>
  </p>
  <br>
  <br>
  <p><%= link_to 'Add offer', new_customer_offer_path(current_customer), class: 'btn btn-primary' %></p>

  <% if current_customer.offers.length < 1 %>
    <p>(No offer created yet!)</p>
  <% else %>
    <br>
    <h3>My offers</h3>
    <br>
    <h4>Open(<%= @offers_open.length %>):</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Target Date</th>
          <th scope="col">Proposals</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @offers_open.each do |offer| %>
          <tr>
            <td><%= offer.title %></td>
            <td><%= offer.target_date %></td>
            <td><%= offer.proposals.count %></td>           
            <td>
              <%= link_to 'more', customer_offer_path(current_customer, offer), class: 'btn btn-primary'  %>
              <%= link_to 'remove', offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <h4>Accepted(<%= current_customer.offers.where(offer_open: false).length %>):</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Target Date</th>
          <th scope="col">Proposals</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @offers_accepted.each do |offer| %>
          <tr>
            <td><%= offer.title %></td>
            <td><%= offer.target_date %></td>
            <td><%= offer.proposals.count %></td>           
            <td>
              <%= link_to 'more', customer_offer_path(current_customer, offer), class: 'btn btn-primary'  %>
              <%# <%= link_to 'close', new_proposal_rating_path(offer.proposals.where(status: 'accepted').first), class: 'btn btn-success' %> %>
          
            
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <h4>Closed(<%= @offers_closed.length %>):</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Target Date</th>
          <th scope="col">Proposals</th>
        </tr>
      </thead>
      <tbody>
        <% @offers_closed.each do |offer| %>
          <tr>
            <td><%= offer.title %></td>
            <td><%= offer.target_date %></td>
            <td><%= offer.proposals.count %></td>           
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

