<div class="container">

<% if customer_signed_in? %>
  <p class='mt-3'><%= link_to 'Back to dashboard', customer_path(current_customer) %></p>
<% elsif developer_signed_in? %>
  <p class='mt-3'><%= link_to 'Back to dashboard', developer_path(current_developer) %></p>
<% end %>

 <div class="card-product mt-2">

        <% if @developer.photo.attached? %>
          <%= cl_image_tag @developer.photo.key, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> 
        <% end %>
        <div class="card-product-infos">
          <div class="card-linha row">
            <div class="texto-linha col-7">
              <h2><%= @developer.name %></h2>
              <br>
              <p><strong>Email: </strong><%= @developer.email %></p>
              <p><strong>GitHub: </strong><%= @developer.github_url %></p>
              <p><strong>Age:</strong> <%= @developer.age %></p> 
              <p><strong>Experience:</strong> <%= @developer.years_experience %> years</p>
              <p><strong>Skills: </strong> 
              <%= @developer.skills %></p>
            </div>      
            <div class="star-div col-3">
              <% if @developer.rating_avg %>
                <div class="star-ratings-css" title="<%=(@developer.rating_avg * 2 / 10).round(1)%>"></div>
              <% else %>
                <p>Rating: none<p>
              <% end %>
            </div>
          </div>
        </div>
      </div> 
    </div>

  
  
  <h3>All Ratings(<%= @ratings.length %>):</h3>
  
  <% if @ratings.length < 1 %>
    <p>(No rating received yet!)</p>
  <% else %>
    <% @ratings.each do |rating| %>
      <div class="card-rating">
        <% if rating.customer.avatar.attached? %>
          <%= cl_image_tag rating.customer.avatar.key, crop: :fill %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> 
        <% end %>
        <div class="card-rating-infos">
          <h2><%= rating.customer.name %></h2>
          <p><%= rating.comment %></p>
          <p>Rating: <%= rating.rating %></p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>