<div class="container flex-grow-1">
  <div class="card-product mt-5">
    <% if @developer.photo.attached? %>
        <%= cl_image_tag @developer.photo.key, crop: :fill %>
    <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> 
    <% end %>
    <div class="card-product-infos">
        <h2><%= @developer.name %></h2>
        <br>
        <p>Email:<%= @developer.email %></p>
        <p>GitHub: <%= @developer.github_url %></p>
        <p>Age: <%= @developer.age %></p> 
        <p>Experience: <%= @developer.years_experience %> years</p>
        <p>Skills: 
        <%= @developer.skills %></p>
    </div>
  </div>
  
  <div class="p-4 login-int mt-5" style="background-color: white; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
     <h2 class="text-center mb-3 "><strong>Rate Developer</strong></h2>
    <div class="w-100">
      <%= simple_form_for [@proposal, @rating] do |f| %>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>  
        <%= f.input :comment %>
        <%= f.button :submit, "Rate", class:"btn btn-primary w-100"%>
        <p class='mt-2'><%= link_to "Back", :back %></p>
      <% end %>
    </div>
  </div>

</div>